html {
    background-size:auto;
    min-height: 100%;
   background-image: url("IMG-6137.JPG");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
  text-align: center;
}
html {
  font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; 
}
 .family  {
        font-weight:bold;
        color:rgb(255, 153, 51);
        background-color: rgb(102, 178, 200);
 }
 .post {    
         color:rgb(255, 255, 255);
         background-color:rgb(255, 0, 0) ;
 }

 }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #f5ede1;
   color: #918a7e;
}
p {
 color:blue;
}

